/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Prosto+One);

body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	display: -moz-box;
	display: -webkit-box;
	-moz-box-pack:center;
	-webkit-box-pack: center;
}

body.normal {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	display: inline;
}

table td{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

#graphLabels {
 font-size: 2em;
  margin: 10px;
  padding: 0px;
}

#wrapper{
	max-width: 960px;
	margin: 15px 0px;
	display: -moz-box;
	display: -webkit-box;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
	-moz-box-flex:1;
	-webkit-box-flex:1;
}

#statusnote {
	text-align:center;
}

#main_wrapper{
  min-width: 700px;
  margin: 0;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-flex:1;
  -webkit-box-flex:1;
}

.header{
	font-size: 1.1em;
	margin: 0px;
  padding: 0px;
}

.header_wrapper {
	margin: 0px;
	padding: 0px;
}

.logoutButton {
	margin: 7px 5px 0 0;
	padding: 0;
	float: left;
  cursor:pointer;
}

.header_img{
	width: 20px;
}

.login_header{
	padding: 20px;
	display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.login_content{
  display: -moz-box;
  display: -webkit-box;
  -moz-box-pack:center;
  -webkit-box-pack: center;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.main_content{
  display: -moz-box;
  display: -webkit-box;	
}

.login_logo{
	/* width: 50px; */

}

.IeegResultBrowser div {
	padding-top: 0px; 
	padding-right: 0px;
	padding-bottom: 0px; 
	margin-left: 0px;
	padding-left: 23px;
	background:gray;}

.gwt-Image-Logo {
	width: 35px;
	margin: 5px;
}

.login_title{
  font-size: 36px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.detailFlow {
	float: Left;
/* 	border: 1px solid red;
 */	margin: 0px 0px 0px 20px;
}

.controlPane {
	position: relative;
}

.toolbaritem {
	white-space: nowrap;
}

.SnapshotBrowserTopPanel {
	/* border-bottom: 1px solid rgb(188, 188, 188); */
}

.SnapshotBrowserBottomPanel {
  /* border-top: 1px solid rgb(188, 188, 188);	 */
}

.IeegTabToolbarWrapper{
  margin: 2px;
}

.heading {
	margin-left: 8px;
	font-size: 22px;
	font-weight: bolder;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.tabCloseButton {
	background-image:url('images/closeTab2.png');
	background-size:15px 15px;
	background-repeat:no-repeat;
	cursor: pointer;
	margin: 2px 0px 2px 5px;
}

.PortalTitle {
	position: absolute;
	left: 50px;
	top: 10px;
	bottom: 0px;
	font-size: 28px;
	font-weight: normal;
	cursor: hand;
	cursor: pointer;
}

.IeegSubHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;	
  text-transform:capitalize;
  margin-left: 10px;
  margin-bottom: 5px;
  color:rgb(149, 0, 26);
}

.IeegSubHeader .img {
  height: 16px;	
}

.IeegTabToolbar {
  font-family: 'Open Sans',sans-serif;
  font-size: 9pt;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.IeegTabToolbar .gwt-Button {
	background: white;
	border: 1px solid rgb(224,224,224);
	font-size: 9pt;
	/* float: left; */
	margin:  2px;
}

.IeegTabToolbar .gwt-Button:hover {
	background: rgb(224,224,224);
	/* float: left; */
}

.IeegTabToolbar .gwt-Button[disabled]:hover {
	background: transparent;
	border: 1px solid rgb(224,224,224);
	/* float: left; */
	}
	
.IeegTabToolbar .gwt-ListBox{
  float: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 9pt;	
  margin-left: 2px;
}
	
.IeegTabToolbar .gwt-Label{
	float: left;
	font-size:9pt;
	border: 1px solid transparent;
	padding: 3px 5px;
	color: rgb(154,154,154);
}

.IeegTabToolbar .gwt-CheckBox{
	padding: 0px;
	border: 1px solid transparent;
	margin: 3px;
	float: left
}
	
.IeegTabToolbar .gwt-CheckBox label{
  font-size: 9pt;
  color: rgb(154,154,154);
  float: left;
  margin-left: 3px;
}

.IeegTabToolbar .gwt-MenuBar
{
    cursor                      :   hand;
    cursor                      :   pointer;

    border                      :   0px solid #999;
    background-color            :   #fff;
    padding                     :   0px;
}
.IeegTabToolbar .gwt-MenuItem
{
    cursor                      :   hand;
    cursor                      :   pointer;

    border                      :   0px solid #999;
    background-color            :   #fff;
    padding                     :   0px;
}
.IeegTabToolbar .gwt-MenuItem-selected
{
    background-color            :   #eee;
}

.SnapBrowser-Wrapper{
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.SnapshotBrowserSplitPanel{
	border-top: 1px solid rgb(228, 228, 228); 
}

.SnapBrowser-Name{
  
}
.SnapBrowser-Meta{
	
}

.DetailsValue {
	min-width: 25em;
}
 
 .DCNLabel {
  vertical-align: top;
  text-transform:capitalize;
 }
 .DCNImageSmall {
  width: 450px;
 }
 
 .DetailLabel {
  display: inline-block;
  width: 165px;	
  vertical-align: top;
  text-transform:capitalize;
}

/* .gwt-Button-toolbar {
	margin: 0px 2px;
  padding: 3px 5px;
  font-family: 'Open Sans', sans-serif;
  float: LEFT;
} */

/* .IeegToolbar .gwt-Label {
	margin: 5px 0px 5px 2px;
	padding: 4px 0px;
	vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  float: LEFT;
  color: rgb(150,150,150);
} */

.IeegTabToolbar input {
	float: left;
	padding: 0px;
	margin:1px;
	
}
.IeegTabToolbar .Toolbar_Single_Input{
  height: 20px;
  border: 1px solid rgb(234,234,234);
  float: left;
  padding: 0px 0px 0px 2px;
  margin:1px;
}

.gwt-TabLayoutPanel-tabPanel{
  margin: 0px 10px 10px 10px	
}

/* advanced-TextButtonPanel {
  margin: 1px;
  font-family: 'Open Sans', sans-serif;
  float: LEFT;	
  padding:0px;
  border: 1px solid rgb(234,234,234);
  height: 20px;
} */

.Toolbar_Label {
	margin: 2px 0px 2px 5px;
}

.status {
	background-color: #efebe7;
	display: block;
	vertical-align: middle;
	align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	margin: 20px;
	padding: 10px;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}

.collaborator {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	max-height: 40px;
}
.ieeg-portal-collabTable td{
	padding: 5px 10px;
}

.buttonHolder {
	/* margin-top: 19px; */
	float: right;
}

.buttonHolder input {
    float: right;
    margin-right: 10px;
}

.buttonHolder .gwt-PushButton-up {
	background: transparent;
	border: none;
}
.buttonHolder .gwt-PushButton-up-hovering {
  background: transparent;
  cursor: hand;
  cursor: pointer;
  border: none;
}

.buttonHolder .gwt-PushButton-up:hover {
  background: transparent;
  cursor: hand;
  cursor: pointer;
  border: none;
}
.buttonHolder .gwt-PushButton-up-disabled {
  background: transparent;
  border: none;
  opacity: 0.25;
}
.buttonHolder .gwt-PushButton-up-disabled:hover {
  background: transparent;
  border: none;
  opacity: 0.25;
}

.buttonHolder .gwt-PushButton-down {
  background: transparent;
  border: none;
}
.buttonHolder .gwt-PushButton-down:hover {
  background: transparent;
  cursor: hand;
  cursor: pointer;
  border: none;
}
.buttonHolder .gwt-PushButton-down-hovering {
  background: transparent;
  cursor: hand;
  cursor: pointer;
  border: none;
}

.buttonHolder .gwt-PushButton-down-disabled {
  background: transparent;
  border: none;
  opacity: 0.25;
}
.buttonHolder .gwt-PushButton-down-disabled:hover {
  background: transparent;
  border: none;
  opacity: 0.25;
}

.startButtonHolder {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;	
  -moz-box-pack: center;
  -webkit-box-pack:center;
  width:100%;
}

.startButtons {
	margin: 20px;
	cursor: hand;
  cursor: pointer;
}

.buttonRed {
 border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
 background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
 background-image: -moz-linear-gradient(top, #a90329, #6d0019);
 background-image: -ms-linear-gradient(top, #a90329, #6d0019);
 background-image: -o-linear-gradient(top, #a90329, #6d0019);
 background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

.buttonRed:hover {
 border:1px solid #450111;
 background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
}

.buttonGreen {
border:1px solid #34740e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
 background-image: -o-linear-gradient(top, #4ba614, #008c00);
 background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.buttonGreen:hover {
 border:1px solid #224b09;
 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
 background-image: -webkit-linear-gradient(top, #36780f, #005900);
 background-image: -moz-linear-gradient(top, #36780f, #005900);
 background-image: -ms-linear-gradient(top, #36780f, #005900);
 background-image: -o-linear-gradient(top, #36780f, #005900);
 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

.buttonBlue {
 border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #a5b8da; background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.buttonBlue:hover {
 border:1px solid #5d7fbc;
 background-color: #819bcb; background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), to(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}

.quickLinkButtonHolder {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical; 
  -moz-box-pack: center;
  -webkit-box-pack:center;
  width:100%;
}


.quickLinkButtons {
  margin-top: 0px;
  cursor: hand;
  cursor: pointer;
}


.topPanel {
	white-space: nowrap;
	color: black;
	background-color: rgb(235,235,235);
	border-bottom: 1px solid rgb(188,188,188);
}

.user {
	display: block;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
	border-left-color: black;
	border-top-color: black;
	border-right-color: gray;
	border-bottom-color: gray;
	margin-left: 10px;
	cursor: hand;
	cursor: pointer;
}

.share {
	vertical-align: bottom;
	right-margin: 10px;
}

.tinyLabel {
	font-size: 9pt;
/*	font-weight: normal;*/
	white-space: nowrap;
	margin: 2px 0px 2px 5px;
	
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.tooltip {
	border: 1px solid black;
	background-color: #eeeeee;
	font-size: 9pt;
	font-weight: normal;
	white-space: nowrap;
}

.gwt-SliderBar-shell {
	border: 1px solid #848280;
	border-right: 1px solid #faf9f7;
	border-bottom: 1px solid #faf9f7;
	background-color: #efebe7;
	height: 24px;
	width: 50%;
}

.gwt-SliderBar-shell .gwt-SliderBar-line {
	border: 1px solid black;
	background-color: white;
	height: 4pt;
	width: 95%;
	top: 4pt;
	overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
	top: 4px;
	width: 11px;
	height: 12px;
	z-index: 1;
	cursor: pointer;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
	top: 4pt;
	width: 1px;
	height: 4px;
	background: black;
	overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-label {
	top: 8pt;
	font-size: 8pt;
	cursor: default;
}

.gwt-SliderBar-shell-focused {
	
}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
	background-color: #DDDDDD;
	cursor: pointer;
}


.imageLabel {
	color: #FFCC11;
	font-weight: bold;
	font-size: 10pt;
}

.imageLabel:hover {
	color: #FFDD33;
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
}

.imageShadow {
	color: #111111;
	font-weight: bold;
	font-size: 10pt;
}

.auxImageLabel {
	color: #FF1111;
	font-size: 8pt;
}

.auxImageLabel:hover {
	color: #FFCC33;
	font-size: 8pt;
	cursor: pointer;
}

.auxImageShadow {
	color: #111111;
	font-size: 8pt;
}

.filterOptionLabel {
	width: 15em;
	font-weight: bold;
	white-space: nowrap;
}

.contextMenu {
	white-space: nowrap;
	font-size: 9pt;
	background-color: #feeefe;
}

.shaded {
	background-color: #ebebff
}

#dpi {
	height: 1in;
	left: -100%;
	position: absolute;
	top: -100%;
	width: 1in;
}

#metrics {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
}

/*********************
 * Combo box, suggestion box and date picker styles
 */

/** main combo box style */
.advanced-TextButtonPanel {
	margin: 1px;
  font-family: 'Open Sans', sans-serif;
  float: LEFT;  
	padding: 0;
	border: 1px solid rgb(234,234,234);
	height: 20px;
}

/** main combo box style */
.advanced-Grid .advanced-TextButtonPanel {
	border: 0;
	padding: 0;
}

/** layout styles */
.advanced-TextButtonPanel table {
}

/** layout styles */
.advanced-Grid .advanced-TextButtonPanel table {
	height: 13px;
	border: 1px solid #808080;
}

/** common layout cell styles */
.advanced-TextButtonPanel td {
	border: 0;
	padding: 0;
	vertical-align: middle;
}

/** common layout cell styles */
.advanced-Grid .advanced-TextButtonPanel td,.advanced-Grid .subgrid-row .advanced-FocusPanel .advanced-TextButtonPanel td
	{
	border: 0;
	padding: 0;
	vertical-align: middle;
}

/** text box styles */
.advanced-TextButtonPanel .selected-value {
  background: white;
  border: none;
}

.advanced-Grid .selected-value {
	border: 0;
	height: 13px;
}

/** selected text box style */
.advanced-TextButtonPanel .selected-row {
	background-color: #D7E9FF;
}

/** button styles */
.advanced-TextButtonPanel .choice-button {
	/* max-width: 16px;
	height: 16px;
	background-color: #d4d0c8;
	border: 1px solid white;
	border-right-color: #808080;
	border-bottom-color: #808080;
	padding: 0; */
	
}

.advanced-Grid .choice-button {
	height: 13px;
	width: 16px;
	overflow: hidden;
	margin-right: 5px;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-up-hovering {
	cursor: pointer;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-down {
	background-color: #d4d0c8;
	border: 1px solid darkgray;
}

/** button styles */
.advanced-TextButtonPanel .choice-button-down-hovering {
	background-color: #d4d0c8;
	border: 1px solid darkgray;
	cursor: default;
}

/** button image styles */
.advanced-TextButtonPanel img {
	display: inline;
	border: 0;
}

/** button image styles */
.advanced-Grid .advanced-TextButtonPanel img {
	position: relative;
	top: -3px;
}

/*********************
 * Additional Combo box styles
 */

/** popup panel styles */
.advanced-ListPopupPanel {
	border: 1px solid darkgray;
	background-color: white;
	padding: 0;
}

/** items list style */
.advanced-ListPopupPanel .list {
	border-collapse: collapse;
	padding: 0;
	cursor: pointer;
}

/** items list selected row style */
.advanced-ListPopupPanel .list .selected-row {
	background-color: #0a246a;
	color: white;
}

/** item style **/
.advanced-ListPopupPanel .list .item {
	padding: 1px;
	font-size: 10px;
	font-family: sans-serif;
	font-weight: normal;
}

/** icon item image style **/
.advanced-ListPopupPanel .list .icon-item img {
	padding: 1px;
	border: 0;
}

/** icon item label style **/
.advanced-ListPopupPanel .list .icon-item div {
	padding: 1px;
	font-size: 10px;
	font-family: sans-serif;
	font-weight: normal;
}

/** icon item label style **/
.advanced-ListPopupPanel .list .selected-row .icon-item div {
	color: white;
}

.gwt-TabLayoutPanelContent {
	border: 0;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent-managePanel {
	border: 0;
	padding: 0;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-managePanel {
	border-top: 1 ;
  border-left: 0;
  border-right: 0 ;
  border-bottom: 1 ;
  font-weight: normal;
  font-size: 1em;  
}

.gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab {
	cursor: pointer;
	color: black;
	font-weight: normal;
	text-align: center;
	/*background-color: #e3e9ff;*/
	background-color: rgb(245,245,245);
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-left: 1px solid #999;
	border-right: 3px solid #999;
	border-top: 1px solid #999;
	float: left;
	padding: 2px 6px;
	margin: 0 2px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent-Custom {
	border-color: rgb(188, 188, 188);
	border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  -webkit-border-radius: 0px 15px 0px 0px;
}

.gwt-StackLayoutPanel-managerPane {
	margin: 15px 0px 0px 0px;
	border: 1px solid rgb(188, 188, 188);
}

.gwt-TabLayoutPanelTabs .gwt-TabLayoutPanelTab-selected {
/*	background-color: #ecf;*/
	color: white;
	background-color: rgb(188,188,188);
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	cursor: default;
}


.gwt-TabLayoutPanelTab .gwt-Label {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.gwt-TabLayoutPanelContentContainer {
	border-color: rgb(188, 188, 188);
	border-width: 1px;
  border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  -webkit-border-radius: 0px 15px 0px 0px;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent{
	border: none;
}

.gwt-CheckBox-toolbar {
	margin: 5px 2px;
  padding: 4px 5px;
}

.toolbar_input {
	margin: 5px 2px;
  padding: 4px 5px;
  border: 1px solid #DDDDDD;
  float: LEFT;
}

.ieeg-user {
	font-variant: small-caps;
	font-size: 9pt;
}

.ieeg-title {
	font-size: 9pt;
	font-variant: small-caps;
}

.ieeg-text-editor-bar {
	background: white;
}

.ieeg-style-text-editor {
	
}

.ieeg-text-box {
	font-size: 9pt;
	margin: 10px;
	border-bottom: 1pt solid rgb(188,188,188);
}

.ieeg-reply-style {
	border-color: rgb(188, 188, 188);
	border-width: 1px;
	background: white;
}

.ieeg-user-profile {
/* 	display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal; 
  -moz-box-pack: center;
  -webkit-box-pack:center; */
  /* width:100%; */
	margin: 15px;;
	padding: 5px;
	/* width: 95%; */
	/* height: 95%;
	font-family: 'Open Sans', sans-serif; */
	font-size: 20pt;
	vertical-align: top;
} 

.ieeg-user-profile td {
  font-family: 'Open Sans', sans-serif;	
}

.ieeg-user-profile tr > td:first-child { 
  width: 150px; 
}

.ieeg-user-profile-name {
	font-size: 18px;
	font-weight: bolder;
}

.ieeg-user-profile-actLabel {
	font-size:18px;
	font-weight:bolder;
	font-family: 'Open Sans', sans-serif;
	background: rgb(210,210,210);
	border-left: 1px solid rgb(188,188,188);
}

.ieeg-user-profile-heading {
  font-size:18px;
  font-weight:bolder;
  font-family: 'Open Sans', sans-serif;	
  padding: 5px;
}

.ieeg-user-sidebar-heading {
  font-size:12pt;
  font-weight:bold;
  font-family: 'Open Sans', sans-serif; 
  text-transform: capitalize;
  padding: 3px 5px;
  background: rgb(110,120,150);
  color: white;
  margin: 5px 5px 0 5px;
  
}

.ieeg-user-sidePane {
	margin: 5px;
  font-family: 'Open Sans', sans-serif;
	vertical-align: top;
	border: 1px solid rgb(188,188,188);
	background: rgb(250,250,250);
}

.ieeg-recs-and-messages{
  margin-bottom: 0px;
}

.ieeg-portal-welcome{
	text-align: center;
	font-size: 18pt;
	margin-top:8pt;
	margin-left:5px;
	border-bottom: 1px solid rgb(225,225,225);
	/* background: rgb(235,235,235); */
}

.ieeg-portal-desc {
	margin: 0px 30px 0px 20px;
	text-align: justify;
	font-size: 11pt;
}

.ieeg-event {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	padding:6px 24px;
	text-decoration:none;
	min-width: 400px;

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 2px;
}

.ieeg-start-button {
	border: 2pt solid;
}

.ieeg-stamp {
	font-style: italic;
	font-size: 8pt;
}

.ieeg-logoBannerHolder{
	background: rgb(255,255,255);
/* 	border-top: 1px solid rgb(188,188,188);*/
}

.ieeg-cornered-pane{
	border-radius: 0px 10px 0 0;
	margin: 5px 5px 0px 5px;
}

.ieeg-cornered-pane-header{
  border-radius: 5px 5px 0 0;
}

.ieeg-user-profile-feed{
	margin: 5px;
}
/*********************
 * Work panel
 */
.ieeg-project-table{
	margin: 5px;
	
}

.ieeg-project-label{
	/* background: rgb(235,235,235); */
	text-transform: capitalize;
	font-size: 10pt;
	/* text-align:center; */
	/* padding: 3px 5px; */
  /* 	margin-top: 10px;*/
  border-bottom: 1px solid rgb(110, 120, 170);
	color:rgb(140, 140, 140);
	text-transform: uppercase;
}

/*********************
 * Portal Stats panel
 */
 .ieeg-stat-bucket{
  margin: 5px;
  }
 
 .ieeg-stat-comment{
  font-size: 6pt;
  margin: 5pt;
 }
.ieeg-stat-total{
	font-size: 14pt;
	text-align: right;
}

.ieeg-info-text{
	font-size: 9pt;
	padding: 5px
}

.ieeg-rec-fav-stack{
	font-size: 10pt;
	margin: 5px;
}

.ieeg-stack-header {
	border-bottom: 1px solid rgb(110, 120,170);
	cursor: pointer;
	text-transform: uppercase;
	color: rgb(140,140,140);
}

.MainScreenImage {
	padding: 5px;
	width: 95%;
	border: 1px solid rgb(188, 188, 188);
	margin: 5px 0px 10px 5px;
	
}


/*********************
* Login Button
*/
.ieeg-login-button{
	border-left: 1px solid rgb(188,188,188);
	border-top: none;
	border-right: none;
	border-bottom: none;
	background: none;
	font-size: 9tp;
	cursor:pointer;
	cursor: hand;
}

/*********************
* PageTable
*/

.ieeg-pageTableCheckColumn{
	padding: 0 !important;
}

.ieeg-disc-content{
	margin: 5px;
}

/*********************
* ChannelSelector
*/
.ChanSelectDialog .gwt-Button {
  background: white;
  border: 1px solid rgb(224,224,224);
  font-size: 9pt;
  /* float: left; */
  margin:  2px;
}

.ChanSelectDialog {
	border: 1px solid rgb(188,188,188);
  background: white;
  padding: 2px 2px;
}

.ChanSelectDialog .dialogTopCenter {
	padding: 5px;
	background: rgb(225,225,225);
}

/*********************
* Buttons, Images on Channel labels in EEGViewer
*/
.eegviewer_channel_button {
	margin: 2px 0px 0px 0px;
}

/*********************
* For Google map
*/

.mapWrapper {
	margin: 5px;
}

.sideBarSubHeader {
	color: rgb(70, 80,110);   
  /*background-color: white; /*rgb(160, 170, 200);*/
  margin: 0px 5px;
  border-bottom: 2px solid rgb(110,120,150); 
  padding: 0px 0px;
  font-size: 9pt;
}

.btnLink {
	/*
  background: #91cbf2;
  background-image: -webkit-linear-gradient(top, #91cbf2, #567c94);
  background-image: -moz-linear-gradient(top, #91cbf2, #567c94);
  background-image: -ms-linear-gradient(top, #91cbf2, #567c94);
  background-image: -o-linear-gradient(top, #91cbf2, #567c94);
  background-image: linear-gradient(to bottom, #91cbf2, #567c94);
  */
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 14px 10px 20px;
  text-decoration: none;
}

.btnLink:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/*********************
* For Dygraph Annotations
*/
.dygraphDefaultAnnotation {
	text-align: center;
}


/*********************
* For Popup panels
*/
.gwt-PopupPanel {
   border: 1px solid rgb(235,235,235);
   padding: 3px;
   background: white;
}

.gwt-PopupPanelGlass {
   /* background-color: white; */
   /* opacity: 0.3;*/
   /* filter: alpha(opacity=30); */
}

.gwt-PopupPanel .popupContent {
   border: none;
   padding: 3px;
   background: gray;  
}   

.gwt-PopupPanel .gwt-ListBox {
  border: 1px solid rgb(235,235,235);	
}

.errMessage {
	font-color: red;
	border: 0px;
}
