@CHARSET "US-ASCII";

/*
 * Copyright 2011 Google Inc.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@def selectionBorderWidth 1px;
.dataGridWidget {
}

.dataGridFirstColumn {
  
}

.dataGridLastColumn {
  
}

.dataGridFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
  white-space: nowrap;
}

.dataGridHeader {
	border:none !important;
  /* border-bottom: 2px solid #6f7277; */
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: none !important;
  overflow: hidden;
  white-space: nowrap;
}

.dataGridCell {
  padding: 2px 5px !important;
  overflow: hidden;
}

.dataGridFirstColumnFooter {
  
}

.dataGridFirstColumnHeader {
  
}

.dataGridLastColumnFooter {
  
}

.dataGridLastColumnHeader {
  
}

.dataGridSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {
  
}

.dataGridSortedHeaderDescending {
  
}

.dataGridEvenRow {
  background: #ffffff;
}

.dataGridEvenRowCell {
  border: none !important;
}

.dataGridOddRow {
  background: #f3f7fb;
}

.dataGridOddRowCell {
  border: none !important;
}

.dataGridHoveredRow {
  background: #eee;
}

.dataGridHoveredRowCell {
 /*  border: selectionBorderWidth solid #eee; */
  border: none !important;
}

.dataGridKeyboardSelectedRow {
  background: rgb(120,170,150) !important;
}

.dataGridKeyboardSelectedRowCell {
  border: none !important;
  margin: selectionBorderWidth;
  background: rgb(120,170,150) !important;
}

.dataGridSelectedRow {
  /* background: transparent !important; */
  border: none !important;
  /* border: selectionBorderWidth solid rgb(255,255,255) !important; */
  color: rgb(0,0,0) !important;
  height: auto;
  overflow: auto;
}

.dataGridSelectedRowCell {
	border: none !important;
  /* border: selectionBorderWidth solid rgb(110,120,170) !important; */
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
	border: none !important; 
/*   border: selectionBorderWidth solid #eec !important;*/}