/*
 * Copyright 2010 Google Inc.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
.cellTreeWidget {
	margin-left: 6px;
  
}

.cellTreeEmptyMessage {
  padding-left: 3px;
  font-style: italic;
}

.cellTreeItem {
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: hand;
  cursor: pointer;
  zoom: 1;
}


.cellTreeItemImage {
  
}

.cellTreeItemImageValue {
  zoom: 1;
}

.cellTreeItemValue {
  padding-left: 0;/* 3px; */
  padding-right: 3px;
  outline: none;
}

.cellTreeOpenItem {
  
}

.cellTreeTopItem {
	color: rgb(149,0,26);
  font-size: 12pt;
  margin-top: 0px;
  padding: 0; 
}

.cellTreeTopItemImage {
	
}

.cellTreeTopItemImageValue {
  border-bottom: 1px solid rgb(188,188,188);
  padding-bottom: 1px;
}

.cellTreeKeyboardSelectedItem {
  background-color: #ffc;
  outline: none;
}

@sprite .cellTreeSelectedItem {
  gwt-image: 'cellTreeSelectedBackground';
  background-color: #628cd5;
  color: white;
  height: auto;
  overflow: visible;
}

.cellTreeShowMoreButton {
  padding-left: 16px;
  outline: none;
}