/** Add css rules here for your application. */
button {
	display: block;
	font-size: 16pt
}

.widePanel {
	width: 100%
}

img {
	margin-top: 20px;
}

.errorMessage {
	color: red;
}

.important {
	font-weight: bold;
}

.disabled {
	color: gray;
	text-decoration: underline;
}

.addPanel {
	margin: 10px 0px 15px 0px;
}

.emphasize {
	font-style: italic;
}

.flexTableHeader {
	background-color: #2062B8;
	color: white;
	font-style: italic;
	text-align: center;
}

.flexTableButtonColumn {
	text-align: center;
}

.contactNumberColumn {
	text-align: center;
}

/* epilepsy type list, the Remove button */
.gwt-Button-remove {
	width: 50px;
}

.fieldHeader {
	color: #15317E;
}

.welcomeText {
	margin-top: 45px;
}

.brainTrustHeader {
	font-size: 26pt;
}

.cellTable {
	border-bottom: 1px solid #ccc;
	text-align: left;
	margin-bottom: 4px;
}

.epSubtypeTable {
	text-align: center;
}

.epSubtypeTableOddRow {
	background-color: #F0F0F0;
}

.epSubtypeTableName {
	font-weight: bold;
}

.code {
	font-family: monospace;
}
}